{% load staticfiles %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src={% static "admin/js/vendor/jquery/jquery.js"%}> </script>
    <link href="{% static "rest_framework/css/bootstrap-responsive.css" %}" rel="stylesheet">
    <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
    <script src="{% static "index/js/charts.js" %}"></script>
    <script src="{% static "index/js/choose.js" %}"></script>
    <link rel="stylesheet" href="/static/index/styles/layout.css" type="text/css">
    <link rel="stylesheet" href="/static/index/styles/compare.css" type="text/css">
    <link rel="stylesheet" href="/static/index/styles/choose.css" type="text/css">
    <link rel="stylesheet" href="/static/index/styles/charts.css" type="text/css">
    <title>Piped Watcher</title>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"> StarAllians</a>
        <button class="navbar-toggler" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label = "Toggle navigation" data-target="#navbarNavAltMarkup" data-toggle="collapse" type = "button">
          <span class="navbar-toggler-icon"></span></button>
        <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/bittrex">See Data</a>
            <a class="nav-item nav-link" href="/charts"> See Charts</a>
            <a class="nav-item nav-link" href="/compare/">See Pairs</a>
          </div>
        </div>
      </nav>

{% block content %}
{% endblock %}

  <div class="footer">
    <div class="block">
      <h2>StarAllians</h2>
      <a href="#"> First link</a>
      <br />
      <a href="#"> Second link</a>
      <br />
      <a href="#"> Third link</a>
      <br />
      <a href="#"> Fourth link</a>
    </div>
  </div>

  </body>

</html>
