<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bittrex</title>
</head>
<body>
{% for item in temp %}
    <h1>{{ item.TimeStamp }}</h1>
    <h1>{{ item.Quantity }}</h1>
    <h1>{{ item.PairName }}</h1>
    <h1>{{ item.OrderType }}</h1>
{% endfor %}
</body>
</html>
{% for item in temp %}
    <h1>{{ item.PairName }}</h1>
    <h1>{{ item.High }}</h1>
    <h1>{{ item.Low }}</h1>
    <h1>{{ item.Last }}</h1>
    <h1>{{ item.Volume }}</h1>
    <h1>{{ item.BaseVolume }}</h1>
    <h1>{{ item.TimeStamp }}</h1>
    <h1>{{ item.Bid }}</h1>
    <h1>{{ item.Ask }}</h1>
    <h1>{{ item.OpenBuyOrders }}</h1>
    <h1>{{ item.OpenSellOrders }}</h1>
    <h1>{{ item.PrevDay }}</h1>
{% endfor %}