{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="row">
<div id="cndlstk_crt" style="border: 1px"></div>
<div id="diff_crt" style="border: 1px"></div>
<div id="curve_chart" style="border: 1px"></div>
</div>

<script type="text/javascript">
google.charts.load('current', {'packages':['corechart', 'bar']});

google.charts.setOnLoadCallback(drawCandlestick);
google.charts.setOnLoadCallback(drawDiffChart);
google.charts.setOnLoadCallback(drawChart);

	  function drawCandlestick() {
	  var data = new google.visualization.DataTable();
      data.addColumn('string', 'Timestamp');
      data.addColumn('number', 'High');
      data.addColumn('number', 'Open');
      data.addColumn('number', 'Last');
      data.addColumn('number', 'Low');
      data.addColumn({type: 'string', role: 'tooltip'});

      var formatter = new google.visualization.NumberFormat({
        fractionDigits: 8
       });


      {% for item in testAggr %}
      data.addRows([['{{ item.TimeStamp }}', {{ item.High }}, {{ item.PrevDay }}, {{ item.Last }}, {{ item.Low }},
                     '{{ item.TimeStamp }} \n High: ' + formatter.formatValue({{ item.High }}) +
                     ' \n Open: ' + formatter.formatValue({{ item.PrevDay }}) +
                     ' \n Close: ' + formatter.formatValue({{ item.Last }}) +
                     ' \n Low: ' + formatter.formatValue({{ item.Low }})]]);
      {% endfor %}

    	var options = {
    	title: 'График японских свечек для {{market}} (временно взято Open=item[-1].Last)',
    	width:1000,
        height:400,
	    legend:'none',
        bar: { groupWidth: '61.8%' },
        colors: ['black'],
        candlestick: {
            fallingColor: { strokeWidth: 1, fill: '#e60000', stroke: 'black' }, // red
            risingColor: { strokeWidth: 1, fill: '#2eb82e', stroke: 'black' }   // green
        },
        vAxis: {logScale:true},
	    };

    	var chart = new google.visualization.CandlestickChart(document.getElementById('cndlstk_crt'));

	    chart.draw(data, options);
		  }

function drawDiffChart() {
    var sellData = new google.visualization.DataTable();
      sellData.addColumn('string', 'Timestamp');
      sellData.addColumn('number', 'Sell');

      {% for item in sellBook %}
      sellData.addRows([['1', {{ item.Quantity }}]]);
      {% endfor %}

    var buyData = new google.visualization.DataTable();
      buyData.addColumn('string', 'Timestamp');
      buyData.addColumn('number', 'Buy');


      {% for item in buyBook %}
      buyData.addRows([['1', {{ item.Quantity }}]]);
      {% endfor %}

    var colChartDiff = new google.visualization.ColumnChart(document.getElementById('diff_crt'));

	var options = {
	title: 'Будущий график объемов покупок-продаж для {{ market }}',
	width:1000,
    height:400,
    legend: { position: 'top'},
    bar: { groupWidth: '41.8%' },
    diff: {
        oldData: { opacity: 1, color: '#31e607', tooltip: { prefix:'Продажа' } },
        newData: { opacity: 1, widthFactor: 0.7, tooltip: { prefix:'Покупка' } }
    } ,
    colors: ['#b80009']
    };

    var diffData = colChartDiff.computeDiff(buyData, sellData);
    colChartDiff.draw(diffData, options);
    }


    function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Timestamp');
    data.addColumn('number', '{{ market }}');
    data.addColumn({type: 'string', role: 'tooltip'});

      var formatter = new google.visualization.NumberFormat({
       fractionDigits: 8
      });

       {% for item in temp1 %}
       data.addRows([['{{ item.TimeStamp }}' , {{ item.Tick }},
       '{{ item.TimeStamp }} \n Tick: ' + formatter.formatValue({{ item.Tick }})]]);//
       {% endfor %}

       formatter.format(data, 2);

        var options = {
          title: '{{ market }}',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
</script>
{% endblock content %}