{% extends 'base.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>
<link rel="stylesheet" href="/static/index/styles/choose.css" type="text/css">


<div class="bckgrnd">
  <div class="chooseBox">
    <div class="caption">
      <h2> Choose exchange and pair </h2>
      <hr/>
    </div>
    <div class="select-group">
      <select class="selectpicker show-tick col-12 col-sm-12 col-md-6 col-lg-6" id="exchSelector" data-live-search="true" data-size="6" title="Exchange" data-width="205px">
      </select>
      <select class="selectpicker show-tick col-12 col-sm-12 col-md-6 col-lg-6" id="pairSelector" data-live-search="true" data-size="6" title="Pair" data-width="205px" disabled>
      </select>
    </div> 
    <button class="btn btn-md" id="okBtn">Show </button>
  </div>
</div>

{% endblock content %}
