{% extends 'base.html' %}

{% block content %}
<div class="tblHolder" id="scrdiv" style="width:auto; height:500px; overflow-x:auto; overflow-y:auto">
  <table id="tableID" style="width:100%; height:100%; table-layout:fixed">
  </table>
</div>
<div class="btnHolder">
  <button class="hidbt" id="hidebt">Hide Useless</button>
</div>

<script type="text/javascript">

 var ws = new WebSocket("ws://127.0.0.1:8080/");
    ws.onopen = function(event){

    };
    ws.onclose = function (event) {
         if (event.wasClean){
             alert('Соединение закрыто');
         } else{
             alert('Соединение оборвано по причине: ' + event.reason + ' - код ошибки: '+ event.code );
         }
     };
    ws.onerror = function (error) {
         alert('Ошибка - ' + error.data);
     };
    ws.onmessage = function (event) {

        var msg = JSON.parse(event.data);
        var json_msg = JSON.parse(msg['ticks']);
        var table = document.getElementById("tableID");
        while(table.firstChild) table.removeChild( table.firstChild ); // Удаляет все корневые элементы на старте и заполняет таблицу заново
        var tableHead = document.createElement('thead');
        table.appendChild(tableHead);
        var tr = document.createElement('tr');
        tr.style.minHeight = "5px";
        tableHead.appendChild(tr);

        //var rows = msg['rows'],
        // columns = msg['columns'];

        var th = document.createElement('th');
        th.style.width = "130px";
        tr.appendChild(th);

        for (var name in msg['cnames']) {
            var th = document.createElement('th');
            th.appendChild(document.createTextNode((msg['cnames'])[name]));
            th.style.width = "127px";
            tr.appendChild(th);
        }
        var min = -10;
        var max = 10;

        var tableBody = document.createElement('tbody');
        table.appendChild(tableBody);


        for (var r in msg['rnames']) {
            var tr = document.createElement('tr');
            var text = (msg['rnames'])[r];
            var th = document.createElement('th');
            th.appendChild(document.createTextNode(text));
            tr.appendChild(th);
            for (var c in msg['cnames']) {
                var success = false;
                for (var i in json_msg) {
                    {
                        if ((json_msg[i]['PairName'] == (msg['rnames'])[r]) && (json_msg[i]['Exch'] == (msg['cnames'])[c])) {
                            var td = document.createElement('td');
                            var v =  json_msg[i]['Tick'] ;
                            td.appendChild(document.createTextNode(v));
                            if (json_msg[i]['Chg'] == 'U') {
                                td.appendChild(document.createElement("up"));
                            } else if (json_msg[i]['Chg'] == 'D') {
                                td.appendChild(document.createElement("down"));
                            }
                            td.setAttribute("id",(msg['rnames'])[r] + "_" + (msg['cnames'])[c]);
                            tr.appendChild(td);
                            //tr.replaceChild(td);
                            success = true;
                        }
                    }
                }
                if (success == false) {
                    var td = document.createElement('td');
                    var v = '—';
                    td.appendChild(document.createTextNode(v));
                    tr.appendChild(td);
                }
            }
            tr.setAttribute("title", text);
            tableBody.appendChild(tr);
        }
        var tbody = table.getElementsByTagName('tbody')[0];
        var trow = tbody.getElementsByTagName('tr');

        for (var i = 0, len = trow.length; i < len; i++) {
            var cells = trow[i].getElementsByTagName('td');
            var max = -11,
                min = 11,
                maxi, mini;
            for (var j = 0, lent = cells.length; j < lent; j++) {
                if (parseFloat(cells[j].innerHTML, 10) > max) {
                    max = parseFloat(cells[j].innerHTML, 10);
                }
                if (parseFloat(cells[j].innerHTML, 10) < min) {
                    min = parseFloat(cells[j].innerHTML, 10);
                }
                if (cells[j].innerText == '—') {
                    cells[j].classList.toggle("nope");
                }
            }
            if (((max - min) / max) * 100 > 3) {
                for (var j = 0, lent = cells.length; j < lent; j++) {
                    if (parseFloat(cells[j].innerHTML, 10) == max) {
                        cells[j].classList.toggle("max");
                    }
                    else if (parseFloat(cells[j].innerHTML, 10) == min) {
                        cells[j].classList.toggle("min");
                    }
                }
            }
            else {
                trow[i].classList.add("hid");
            }
        }

        var elements = document.getElementsByTagName('tr');
        for (var i = 1; i < elements.length; i++) {
            (elements)[i].addEventListener("click", function () {
                this.classList.toggle("selected");
                var ups = this.getElementsByTagName('up');
                var downs = this.getElementsByTagName('down');
                var cells = this.getElementsByTagName("td");
                var h = this.getElementsByTagName("th");
                for (var i = 0, len = cells.length; i < len; i++) {
                    cells[i].classList.toggle("selected");
                }
                for (var i = 0, len = ups.length; i < len; i++) {
                    ups[i].classList.toggle("selected");
                }
                for (var i = 0, len = downs.length; i < len; i++) {
                    downs[i].classList.toggle("selected");
                }
                for (var i = 0, len = h.length; i < len; i++) {
                    h[i].classList.toggle("selected");
                }
            });
        }

        document.getElementById("scrdiv").addEventListener('scroll', function () {
            var translate = "translate(0," + this.scrollTop + "px)";
            this.querySelector("thead").style.transform = translate;
        }, false);

        var btn = document.getElementById("hidebt");
        if (!btn.hasAttribute("onclick")) {
            document.getElementById("hidebt").addEventListener('click', function () {
                table.classList.toggle("hideUninteresting");
                if (this.innerText == "Show Useless") {
                    this.innerText = "Hide Useless";
                }
                else {
                    this.innerText = "Show Useless";
                }
            }, false);
            btn.setAttribute("onclick","true");
        }
   };
</script>

<style>
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border-bottom: 1px solid #eaeaea;
  background: #ffffff;
  padding: 5px;
}

th {
  text-align: center;
}

tbody tr th {
  width: 130px;
  padding: 0 0 0 8px;
  text-align: left;
}

tbody tr:hover td:not(.min):not(.max) {
  background: rgba(250, 250, 250, .8);
}

tbody tr:hover th {
  background: rgba(250, 250, 250, .8);
}

tbody tr.selected:hover td.selected:not(.min):not(.max) {
  background: rgba(254, 254, 254, .8);
}

tbody tr.selected:hover th.selected {
  background: rgba(254, 254, 254, .8);
}

up {
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: transparent transparent #25E876 transparent;
  display: inline-block;
  margin: 3px 0px 2px 7px;
  transform: none;
}

down {
  background: transparent;
  border-style: solid;
  border-color: #FF6347 transparent transparent transparent;
  border-width: 6px 6px 0 6px;
  display: inline-block;
  margin: 0 0 1px 8px;
  transform: none;
}

.selected:not(.min):not(.max):not(up):not(down) {
  background: #f2f2f2;
}

.max {
  background: #e6ffe6;
}

.min {
  background: #ffe6e6;
}

.nope {
  color: #bbb;
}

.hid {
  display: table-row;
}

.hidbt {
  background-color: white;
  color: black;
	border: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 16px;
	font-weight: bold;
  width: 100%;
	text-align: center;
	outline: none;
}

.hidbt:hover {
  background-color: #333333;
  color: #df9900;
  transition-duration: 0.4s;
}

.btnHolder {
  text-align: center;
	margin: 1px 0 0 0;
}

.tblHolder {
	margin: 1px 0 0 0;
}

table.hideUninteresting tr.hid {
  display: none;
}
</style>
{% endblock content %}