{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<body>
  <div class="caption">
    <h2>Arbitration</h2>
      <h6>After load you'll see the current state without growth dynamic</h6>
    <hr />
  </div>

    <input type="hidden" id="myexchs" name="variable" value="{{exchs}}" readonly>
    <input type="hidden" id="mypairs" name="variable" value="{{ pairs }}" readonly>
    <input type="hidden" id="myticks" name="variable" value="{{ticks}}" readonly>
  <div class="tblHolder" id="scrdiv" style="width:auto; height:450px; overflow-x:auto; overflow-y:auto">
    <table id="tableID" style="table-layout:fixed">
    </table>
    </div>

  <div class="btnHolder row center">
    <button class="hidbt btn col-12 col-md-6" id="hidebt">Hide less than 3% difference</button>
    <button class="hidbt btn col-12 col-md-6" id="pairhider">Hide non-selected exchanges</button>
  </div>

{% load compress static %}

{% compress js %}
  <script src="{% static '/js/arbitration_ws.js'%}"></script>
{% endcompress %}

</body>

{% endblock content %}
