{% load staticfiles %}
{% load i18n %}
<div class="caption">
  <h2>Log in</h2>
    <hr />
</div>

<div>
<form action="" method="post" class="center"> {% csrf_token %}
  <dl class="login">
  {% for field in form %}
      <dt>{{ field.label_tag }}</dt>
      <dd class="clearfix">{{ field }} {% csrf_token %}
      </dd>
  {% endfor %}
  {% if form.errors %}
      <div class="myerrors clearfix">{{ form.errors }}</div>
  {% endif %}
  </dl>
  <button type="submit" class="clearfix btn">Log in</button>
</form>
</div>