{% load i18n %}

<div class="caption">
  <h2>Log in</h2>
    <hr />
</div>

<form action="/login" method="post" class="center"> {%csrf_token%}

    <div class="login">
      <label for="id_username">{% trans 'Username:' %}</label> <br/>
      <input type="text" name="username" maxlength="254" required="" autofocus="" id="id_username"> <br/>
      <label for="id_password">{% trans 'Password:' %}</label> <br/>
      <input type="password" name="password" id="id_password" required="">
    </div>

  <button type="submit" class="clearfix btn">Log in </button>
</form>
