{% load staticfiles %}
{% load i18n %}

<div class="caption">
  <h2>Registration</h2>
    <hr />
</div>



<div class="block">
  <form class="center" method="post" action=""> {% csrf_token %}
  <dl class="register">
  {% for field in form %}
      <dt>{{ field.label_tag }}</dt>
      <dd class="clearfix">{{ field }} {% csrf_token %}

      {% if field.errors %}
        <div class="myerrors clearfix">{{ field.errors }}</div>
      {% endif %}
      </dd>
  {% endfor %}
  </dl>

  <button type="submit" class="clearfix btn">Sign up</button>
  </form>

</div>
