{% extends 'base.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>

<table>
    <tr>
        <td class="headerText">
          <p class="textWrapper">Сменить биржу и пару: &nbsp;</p></td>
        <td class="exchDropdown">
            <select class="selectpicker show-tick" id="exchSelector" data-live-search="true" data-size="6" title="Биржа" data-width="220px">
            </select>
        </td>
        <td>&nbsp;</td>
        <td class="pairDropdown">
            <select class="selectpicker show-tick" id="pairSelector" data-live-search="true" data-size="6" title="Пара" data-width="220px" disabled>
            </select>
        </td>
        <td>&nbsp;</td>
        <td class="btnHolder">
            <button type="button" class="btn btn-default btn-outline" id="okBtn"><span style="font-size: 14px;">Показать</span></button>
        </td>
        <td>&nbsp;</td>
        <td class="nothing">Сочетание не выбрано</td>
    </tr>
</table>

<div id="OHLCContainer" style="height: 600px; min-width: 310px"></div>
<div id="tickContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script src="{% static 'index/js/charts.js'%}"></script>

{% endblock content %}
