{% load staticfiles %}

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.hero{
    min-height: 300px;
    background: url('/static/index/images/header.jpg') no-repeat fixed;
}

.background-image{
}

nav {
    background-color: #2D2D2D;
}

div.header nav{
  background-color: transparent;
}

a.navbar-brand{
    padding-left: 4%;
    font-size: 1.5em;
    color: #E3E3E3;
}

a.nav-link:hover {
    border-bottom: 3px solid #E3901F;
    padding-left: 3%;
}


.block {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.2em;
}

.footer {
    background-color: #575757;
    padding-left: 5%;
}

.footer a {
    color: #CFCFCF;
}

.footer a:hover {
    color: #E3901F;
    text-decoration: none;
}


hr{
  align: center;
  width: 90%;
  background-color: #E3901F;
}

.hero {
  padding: 10%;
  background-repeat: no-repeat;
  color: #E3E3E3;
  height: 500px;
  background-size: cover;
  border-image-width: auto;
  font-size: 25px;
}

.hero p{}

.hero h1{
  font-family: 'Fjalla One';
  font-size: 2em;
}

.currencies{
  background-color: #13182b;
  color: #73a3b6;
  text-align: center;
}

.doings{
  text-align: center;
}

.how p{
  color: #2D2D2D;
  margin-left: 4%;
  margin-right: 4%;
}

.png{
  padding: 5px;
}

.block h2, .carousel h2{
  text-align: center;
  font-family: 'Fjalla One';
  color: #141b2d;
}

.equipment img {
  height: 150px;
  width: 150px;
  margin-left: 20%;
  align-self: center;
  margin-bottom: 10px;
}

h3{
  text-align: center;
}

@media (max-width: 900px){
  .carousel{
    display: none;
  }}


#carouselInfo{
  padding-left: 0%;
  padding-right: 0%;
  max-height: 500px;
  overflow: hidden;
  color: #000000;
}

.carousel-item img{
  opacity: 0.25;
}

.carousel-caption{
  top: 0;
  bottom: auto;
  color: #000000;
}

.carousel h2{
  padding-top: 5%;
}

.carousel p{
  color: #000000;
  font-size: 1.7em;
}

.map{
  width: 80%;
  height: 400px;
  margin-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
}

.contacts p{
  padding-left: 10%;
}

@media screen{
  .info{
    padding-top: 7%;
  }}
